* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-1,
.header-2 {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-decoration: none;
    margin-right: 37px;
}

.header-form {
    display: flex;
}

.logo_img {
    margin-right: 13px;
}

.D {
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
}

.Account {
    background-color: #f16d7f;
    height: 38px;
    padding-left: 19px;
    padding-right: 19px;
    line-height: 38px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.Browse {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
}

.input {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 38px;
    padding-left: 16px;
    padding-right: 16px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
}

.button {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 38px;
    padding-left: 11px;
    padding-right: 11px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.nav {
    background-color: white;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu-link {
    display: block;
    text-decoration: none;
    padding: 19px 15px 17px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #f16d7f;
    border-bottom: 3px solid #ef5b70;
    padding-bottom: 14px;
}

.Layer {
    background-color: #e8e8e8;
    height: 614px;
}

.Layer-flex {
    height: 100%;
    background-image: url(img/Layer%2024.png);
    background-position: -194px -51px;
}

.Layer-h2 {
    color: #222222;
    font-size: 59.95px;
    font-weight: 900;
    line-height: 45px;
}

.Layer-h3 {
    color: #222222;
    font-size: 39.96px;
    font-weight: 900;
    line-height: 29px;
    margin-top: 20px;
}

.Layer_text {
    margin-top: 220px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.FASHION {
    color: #f16d7f;
    font-size: 39.96px;
    font-weight: 900;
    transform: scaleY(1.0009);
}

.image {
    height: 823px;
    display: flex;
    font-size: 0;
    margin-top: 98px;
}

.image_img-1,
.image_img-2 {
    flex-wrap: wrap;
    width: 560px;
    margin-right: 20px;
}

.image_img-1 img,
.image_img-2 img {
    margin-bottom: 20px;
}

.img-1 {
    background-color: #ffffff;
    width: 175px;
    height: 82px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}

.img-2 {
    background-color: #ffffff;
    width: 225px;
    height: 82px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}

.img-3 {
    background-color: #ffffff;
    width: 162px;
    height: 82px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}

.img-4 {
    background-color: #ffffff;
    width: 180px;
    height: 82px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}

.image_text h3 {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    align-items: center;
    text-transform: uppercase;
}

.image_text h2 {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.Product {
    margin-top: 100px;
}

.Product-flex {
    display: flex;
    justify-content: center;
}

.Product_text h3 {
    display: flex;
    justify-content: center;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
}

.Product_text p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}

.Product_image {
    margin-top: 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Product_price h3 {
    margin-left: 15px;
    margin-top: 19px;
    color: #222222;
    font-size: 13px;
    font-weight: 400;
}

.Product_price h2 {
    margin-left: 15px;
    margin-top: 17px;
    margin-bottom: 21px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}

.Product_link {
    margin-top: 39px;
    position: relative;
}

.Product_link:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.Product_link:hover .Add {
    display: flex;
}

.Product_link:hover .Product_img {
    filter: brightness(50%);
}

.Product_img {
    display: block;
}

.Add_to_Cart {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 13px;
    padding-right: 13px;
    height: 39px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    line-height: 39px;
    display: flex;
    align-items: center;
}

.Add_to_Cart:hover {
    box-shadow: 0 0 5x #ffffff;
}

.Add {
    width: 263px;
    display: none;
    justify-content: center;
    position: absolute;
    top: 98px;
}

.Add_img {
    margin-right: 8px;
}

.Product-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 58px;
}

.Product-2 {
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
}

.All_Product {
    top: 98px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
}

.Discount {
    height: 529px;
    margin-top: 113px;
    background-color: #222224;
    position: relative;
}

.Discount-flex {
    height: 100%;
    background-image: url(img/Layer%2038.jpg);
    background-repeat: no-repeat;
}

.Discount-h2 {
    color: #ffffff;
    font-size: 53.62px;
    font-weight: 700;
}

.OFFER {
    color: #f16d7f;
    font-size: 53.62px;
    font-weight: 700;
}

.Discount-h3 {
    color: #ffffff;
    font-size: 32.17px;
    font-weight: 700;
}

.Discount_text {
    margin-top: 146px;
    margin-left: 39px;
    float: left;
}

.Description {
    height: 100%;
    width: 373px;
    float: right;
}

.Description-span {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.Description-p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 81px;
    margin-right: 43px;
}

.Description_text,
.Description_text-2 {
    margin-top: 48px;
    margin-left: 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Description_text img {
    margin-right: 34px;
}

.Description_text-2 img {
    margin-right: 40px;
}

.subscribe {
    height: 438px;
    background-image: url(img/Layer%2041.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 97px;
}

.subscribe-flex {
    display: flex;
    height: 100%;
}

.subscribe_img {
    width: 569px;
    display: flex;
    margin-top: 111px;
}

.subscribe_img img {
    margin-right: 19px;
}

.subscribe_text p {
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    width: 389px;
}

.subscribe_Bin {
    margin-top: 19px;
    margin-left: 100px;
}

.subscribe_Bin h2 {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.subscribe_Bin h3 {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}

.subscribe_subscribe {
    margin-top: 120px;
}

.subscribe_subscribe h2 {
    display: flex;
    justify-content: center;
    color: rgba(34, 34, 36, 0.67);
    font-size: 24px;
    font-weight: 400;
    line-height: 54px;
}

.subscribe_subscribe h3 {
        display: flex;
    justify-content: center;
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.Email {
    background-color: #e1e1e1;
height: 46px;
        display: flex;
    border-radius: 22px;
    margin-top: 35px;
}

.Enter {
    background-color: #e1e1e1;
    padding-left: 28px;
    padding-right: 148px;
    border-radius: 22px 0 0 22px;
    border: 0;
}

.Subscribe-2 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    text-decoration: none;  
}
.Subscribe-1 {
    background-color: #f16d7f;
    height: 46px;
    border-radius: 0 22px 22px 0;
    padding-left: 20px;
    padding-right: 20px;
}
